@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.page {
    @include margin-bottom(2);
    &__title {
        font-size: $typographic-base-font-size * 2.5;
        font-weight: 500;
        @include line-height(2);
        @include margin-top(0);
        @include margin-bottom(1.45);
    }
    &__body {
        font-size: $typographic-base-font-size;
        @include line-height(1);
        @include margin(0, 0, 1);
    }

    figure {
        margin: 0 0 2rem 0;
        max-width: 350px;
    }
}


@media only screen and (max-width: 600px) {
    .menu {
        border-bottom: 1px solid #222;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }


    .menu__list-item {
        a {
            font-size: 0.9rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .menu__list-item {
        display: inline-block;
        float: left;
        margin: 0 15px 0 0;

        a {
            padding-bottom: 2px;
        }
    }

    .menu__list-item-link--active {
        border-bottom: 2px solid $color-secondary;
        color: $color-secondary;
    }
}


@media screen and (min-width: 960px) {
    /*.content__inner {
        padding: 8rem 2.1875rem;
    }*/
}